<div data-ng-init="initialize()">
	<div class="row">

		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Location
						<small>geo-presentation</small>
					</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
							   aria-expanded="false"><i class="fa fa-wrench"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Settings 1</a>
								</li>
								<li><a href="#">Settings 2</a>
								</li>
							</ul>
						</li>
						<li><a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="dashboard-widget-content">
						<div id="fade1" class="status alert alert-success text-center" data-ng-show="call == 1">You have
							successfully called a cab
						</div>
						<div id="fade2" class="status alert alert-success text-center" data-ng-show="status == 1">You
							have successfully declared your status
						</div>
						<div id="google-map" class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
							 style="height:500px;"></div>
						<div class="clearfix"></div>
						<div class="">
							<button type="button" class="btn btn-primary btn-lg" data-ng-click="showCabModal()"
									data-ng-show="user_role == 'ROLE_USER' || user_role == 'ROLE_ADMIN'">Call a cab
							</button>
							<button type="button" class="btn btn-success btn-lg" data-ng-click="driverIsReady()"
									data-ng-show="user_role == 'ROLE_DRIVER'">Ready to give a ride
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal1" class="modal fade" aria-hidden="false" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">×</span></button>
					<h4 class="modal-title">Destination</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label col-md-4 col-sm-4 col-xs-12" for="destination">Where is your
							destination</label>
						<input type="text" id="destination" name="destination" class="form-control"
							   data-ng-model="destination"/>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:void(0)" data-ng-click="callACab()" class="btn btn-info">Ok</a>
				</div>
			</div>
		</div>
	</div>
</div>

