<!-- bootstrap-daterangepicker -->
<!--<link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">-->

<div class="row" data-ng-init="initialize()">
	<div class="page-title">
		<div class="title_left">
			<h3> New Reservation
			</h3>
		</div>

		<div class="title_right">
			<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>New Reservation </h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Settings 1</a>
								</li>
								<li><a href="#">Settings 2</a>
								</li>
							</ul>
						</li>
						<li><a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<!--PUT YOUR FORM CONTENT IN THIS DIV-->
				<div class="x_content">
					<div class="well" style="overflow: auto">
						<div id="fade1" class="status alert alert-success text-center" data-ng-show="reserved == 1">Reservation was successful</div>
						<form class="form-horizontal form-label-left" novalidate>
							<fieldset>
								<div class="form-group">
									<label class="control-label col-md-4 col-sm-4 col-xs-12" for="reservation">Reservation Period <span class="required">*</span></label>
									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="controls">
											<div class="input-prepend input-group">
												<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
												<input type="text" id="myReservation" style="width: 200px" name="reservation" data-ng-model="new_reservation.reservation" class="form-control"
													value="01/01/2016 - 01/25/2016" placeholder="start date - end date" />
												<!--<input type="text" id="reservation" style="width: 200px" name="reservation" data-ng-model="new_reservation.reservation" class="form-control" value="01/01/2016 - 01/25/2016" />-->
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<div class="form-group">
								<label class="control-label col-md-4 col-sm-4 col-xs-12" for="description">Description <span class="required">*</span></label>
								<div class="col-md-8 col-sm-8 col-xs-12">
									<textarea id="description" class="resizable_textarea form-control" data-ng-model="new_reservation.description" placeholder="Enter the details about the reservation here"></textarea>
								</div>
							</div>
							
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3">
									<button type="submit" class="btn btn-success pull-right" data-ng-click="addNewReservation()">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- the date range picker doesn't seem to work without this...  no idea why though-->
			<!--<div class="container cropper">
				<div class="row">
					<div class="col-md-9 docs-buttons">
						<div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle"
							role="dialog" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="getCroppedCanvasTitle">Cropped</h4>
									</div>
									<div class="modal-body"></div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.png">Download</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</div>

<!-- bootstrap-daterangepicker -->
<!--<script src="/vendors/moment/min/moment.min.js"></script>-->
<!--<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>-->


<script type="text/javascript">
	//$(document).ready(function() {
      	// Initialize daterangepicker
		//$('#reservation').daterangepicker(null, function(start, end, label) {
			//console.log(start.toISOString(), end.toISOString(), label);
		//});
  	//});
</script>